/* Contenido de: src/pages/ContactPage.module.css */

.contactoSimple {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.contactoInfo {
  background-color: rgba(20, 20, 25, 0.8);
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-accent-blue);
  color: var(--clr-white);
}

.contactoInfo h3 {
  color: var(--clr-accent-green);
  margin-bottom: 1.5rem;
}

.contactoInfo p {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.contactoInfo svg {
  color: var(--clr-accent-blue);
  font-size: 1.2rem;
}

/* Estilos del formulario */
.contactoFormSimple {
  display: flex;
  flex-direction: column;
}

.txtFormulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Añadimos espacio entre campos */
}

.txtFormulario label {
  color: var(--clr-accent-blue);
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.txtFormulario input, 
.txtFormulario textarea {
  padding: 0.8rem;
  border: 1px solid var(--clr-accent-blue);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--clr-white);
  font-family: 'Roboto', sans-serif;
}

.txtFormulario textarea {
  resize: vertical;
  min-height: 150px;
}

.btnEnviar{
  border: 0;
  background-color: var(--clr-accent-blue);
  color: var(--clr-gray);
  padding: .5rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  width: 50%;
  align-self: center; /* Centrado en el grid */
}

.btnEnviar:hover {
  background-color: var(--clr-accent-green);
  color: var(--clr-main);
}

/* Media Query */
@media (max-width: 600px) {
  .contactoSimple {
    grid-template-columns: 1fr;
  }
}